<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/user/admin">Admin</a></li>
        <li><a href="/user/logout">Logout</a></li>
    </ul>
    {{if .Fname}}
    <ul>
        {{if .ID}}
        <li><strong>ID: </strong>{{.ID}}</li>
        {{end}}
        {{if .Fname}}
        <li><strong>First Name: </strong>{{.Fname}}</li>
        {{end}}
        {{if .Lname}}
        <li><strong>Last Name: </strong>{{.Lname}}</li>
        {{end}}
        {{if .Email}}
        <li><strong>Email: </strong>{{.Email}}</li>
        {{end}}
        {{if .Password}}
        <li><strong>Password: </strong>{{.Password}}</li>
        {{end}}
        {{if .Picture}}
        <li><strong>Picture: </strong>{{.Picture}}</li>
        {{end}}
        {{if .UserType}}
        <li><strong>User Type: </strong>{{.UserType}}</li>
        {{end}}
        {{if .GoogleID}}
        <li><strong>Google ID: </strong>{{.GoogleID}}</li>
        {{end}}
    </ul>
    {{end}}

</body>

</html>