<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/user/admin">Admin</a></li>
        <li><a href="/user/settings">Settings</a></li>
        <li><a href="/user/logout">Logout</a></li>
    </ul>
    {{if .User}}
    <ul>
        {{if .User.ID}}
        <li><strong>ID: </strong>{{.User.ID}}</li>
        {{end}}
        {{if .User.Fname}}
        <li><strong>First Name: </strong>{{.User.Fname}}</li>
        {{end}}
        {{if .User.Lname}}
        <li><strong>Last Name: </strong>{{.User.Lname}}</li>
        {{end}}
        {{if .User.Email}}
        <li><strong>Email: </strong>{{.User.Email}}</li>
        {{end}}
        {{if .User.Password}}
        <li><strong>Password: </strong>{{.User.Password}}</li>
        {{end}}
        {{if .User.Picture}}
        <li><strong>Picture: </strong>{{.User.Picture}}</li>
        {{end}}
        {{if .User.UserType}}
        <li><strong>User Type: </strong>{{.User.UserType}}</li>
        {{end}}
        {{if .User.GoogleID}}
        <li><strong>Google ID: </strong>{{.User.GoogleID}}</li>
        {{end}}
    </ul>
    {{end}}

    {{if .SuccessMessage}}
    <strong>Success: </strong>{{.SuccessMessage}}
    {{end}}

</body>

</html>