<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <ul>
        <li><a href="/">Index</a></li>
        {{if eq .LoggedIn false}}
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
        {{end}}
        <li><a href="/user/admin">Admin</a></li>
        {{if eq .LoggedIn true}}
        <li><a href="/user/logout">Logout</a></li>
        {{end}}
    </ul>
</body>

</html>