<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/signup">Signup</a></li>
    </ul>

    <form method="POST">
        <input type="email" name="email" placeholder="example@gmail.com"><br>
        <input type="password" name="password" placeholder="********"><br>
        <button type="submit">Login</button>
        <a href="/user/forgot">Forgot Password?</a><br>
        <button><a href="/google/login">Google</a></button>
    </form>

    {{if .SuccessMessage}}
    <p><strong>Success: </strong>{{.SuccessMessage}}</p>
    {{end}} 
    {{if .ErrorMessage}}
    <p><strong>Error: </strong>{{.ErrorMessage}}</p>
    {{end}}
</body>

</html>